* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoue", sans-serif;
    line-height: 1.6em;
    color: #666;
    background: #e1e1e1 url(../img/creampaper.png);
    font-size: 14px;
}

a {
    color: #333;
    text-decoration: nonoe;
}

.container {
    width: 740px;
}

#footer-link {
    color: dodgerblue;
}

#footer-link:hover,
#footer-link:active {
    text-decoration: underline;
}